extends ../layout

block content
    .container
      h2.page.header 설문지 작성
    
    form(action = (todo.id) ? "todos/#{todo.id}?_method=PUT" : "/todos", method='POST')
      .form-group
        label(for='title') 제목
          input.form.control(type='text', id='title', name='title', placeholder='Title', value=todo.title)
        label(for='explain') 간단한 설명
          input.form.control(type='content', id='explain', name='explain', placeholder='Explain', value=todo.explain)
      .form-group
        label(for='question') 질문
          input.form.control(type='text', id='question', name='question', placeholder='Question', value=todo.question)
    
          div.form-actions
            a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
            | 
            button.btn.btn-primary(type='submit') 완료
