extends ../layout
//처음 설문지 작성

block content
  .container
    if todo.id
      h1.page-header 수정
    else
      h1.page-header 새로만들기
    form(action = (todo.id) ? "/todos/#{todo.id}?_method=PUT" : "/todos", method='POST')
      .form-group
        label(for='title') 제목
        input.form-control(type='title', id='title', name='title', placeholder='title', value=todo.title)
      .form-group
        label(for='content') 내용
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= todo.content
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-success(type='submit') 완료
